<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="personAddress">
      <h2 data-cy="personAddressDetailsHeading"><span jhiTranslate="myApp.personAddress.detail.title">Person Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ personAddress.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.personAddress.addressTypeCode">Address Type Code</span></dt>
        <dd>
          <span>{{ personAddress.addressTypeCode }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.personAddress.validFrom">Valid From</span></dt>
        <dd>
          <span>{{ personAddress.validFrom | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.personAddress.validTo">Valid To</span></dt>
        <dd>
          <span>{{ personAddress.validTo | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/person-address', personAddress.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
