<div>
  <h2 id="page-heading" data-cy="PersonDetailsHeading">
    <span jhiTranslate="myApp.personDetails.home.title">Person Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myApp.personDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person-details"
        [routerLink]="['/person-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.personDetails.home.createLabel"> Create a new Person Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="personDetails?.length === 0">
    <span jhiTranslate="myApp.personDetails.home.notFound">No personDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="personDetails && personDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.maritalTypeStatusCode">Marital Type Status Code</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.raceEthinicityCode">Race Ethinicity Code</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.citizenshipStatusCode">Citizenship Status Code</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.pregnant">Pregnant</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.childrenCount">Children Count</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.height">Height</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.weight">Weight</span></th>
          <th scope="col"><span jhiTranslate="myApp.personDetails.person">Person</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personDetails of personDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person-details', personDetails.id, 'view']">{{ personDetails.id }}</a>
          </td>
          <td>{{ personDetails.maritalTypeStatusCode }}</td>
          <td>{{ personDetails.raceEthinicityCode }}</td>
          <td>{{ personDetails.citizenshipStatusCode }}</td>
          <td>{{ personDetails.pregnant }}</td>
          <td>{{ personDetails.childrenCount }}</td>
          <td>{{ personDetails.height }}</td>
          <td>{{ personDetails.weight }}</td>
          <td>
            <div *ngIf="personDetails.person">
              <a [routerLink]="['/person', personDetails.person?.id, 'view']">{{ personDetails.person?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/person-details', personDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/person-details', personDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(personDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
